[submodule "devel"]
	path = submodules/devel
	url = https://github.com/NPKBlackBean/devel.git
	branch = rostest-initial

[submodule "Rosbridge-Mock-Sensor"]
	path = submodules/Rosbridge-Mock-Sensor
	url = https://github.com/NPKBlackBean/Rosbridge-Mock-Sensor.git
