[submodule "devel"]
	path = devel
	url = git@github.com:NPKBlackBean/devel.git
[submodule "Rosbridge-Mock-Sensor"]
	path = Rosbridge-Mock-Sensor
	url = git@github.com:NPKBlackBean/Rosbridge-Mock-Sensor.git
